.two{
    list-style-type: none;
    text-decoration: none;
    font-size: large;

}
.one li a:hover{
    color: red;
    position: static;
    top: 0;
}
.one{
    text-align: right;
    margin: 5px;
}
*{
    padding: 0px;
    margin: 5px;
}

.background{
    width: 100%;
    height: 10vh;
    background: linear-gradient(110.79050755798562deg, rgba(152, 39, 9,1) 95.95534407027817%,rgba(0, 2, 0,1) 95.95534407027817%)

}
.background{
    position: static;
    top: 0;
}
.header-img{
    width: 100%;
  height: 70vh;
  background: url(./f1.jpg);
  background-size: cover;
}
.coloumn{
    float: left;
    width: 32%;
}
.sa{
    width: 100%;
    height: 10vh;
    sa: linear-gradient(110.79050755798562deg, rgba(152, 39, 9,1) 95.95534407027817%,rgba(0, 2, 0,1) 95.95534407027817%)
}
.saa{
    width: 100%;
    height: 50vh;
   
}