.two{
    list-style-type: none;
    text-decoration: none;
    font-size: x-large;

}
.one li a:hover{
    color: red;
    position: static;
    top: 0;
}
.one{
    text-align: right;
    margin: 10px;
}
*{
    padding: 0px;
    margin: 5px;
}
/*
.background{
    width: 100%;
    height: 50vh;
    background: linear-gradient(108.43494882292202deg, rgba(152, 39, 9,1) 5.911420204978038%,rgba(0, 2, 0,1) 5.911420204978038%)
*/
}
.background{
    position: static;
    top: 0;
}
.header-img{
    width: 100%;
  height: 100vh;
  background: url(./f1.jpg);
  background-size: cover;
}
.coloumn{
    float: left;
    width: 33.3%;
    height: 100vh;
}
.five{
    width: 100%;
    height: 50vh;
    five: linear-gradient(108.43494882292202deg, rgba(152, 39, 9,1) 5.911420204978038%,rgba(0, 2, 0,1) 5.911420204978038%)
}